[Desktop Entry]
Encoding=UTF-8
Icon=text-html
Type=Link
Name=itil-key-concepts-and-summary-article
URL=https://uk.simplilearn.com/itil-key-concepts-and-summary-article
[InternetShortcut]
URL=https://uk.simplilearn.com/itil-key-concepts-and-summary-article
